.appear .up {
  & .item {
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(6px);
  }

   & .inview {
     & .item {
       opacity: 1;
       transform: none;

       @for $i form 1 through 10 {

        &:nth-child(#{$i}){
            transition-delay: $i * 0.1s;
        }
       }
     }
   }
}